In [42]:
import pandas as pd

In [43]:
data = pd.read_csv("classification_2.csv")
data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [44]:
data.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

In [45]:
data[' <=50K'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [46]:
data[' <=50K']== ' >50K'

0        False
1        False
2        False
3        False
4        False
         ...
32555    False
32556     True
32557    False
32558    False
32559     True
Name:  <=50K, Length: 32560, dtype: bool

In [47]:
data.iloc[1,:]

39                                38
 State-gov                   Private
 77516                        215646
 Bachelors                   HS-grad
 13                                9
 Never-married              Divorced
 Adm-clerical      Handlers-cleaners
 Not-in-family         Not-in-family
 White                         White
 Male                           Male
 2174                              0
 0                                 0
 40                               40
 United-States         United-States
 <=50K                         <=50K
Name: 1, dtype: object

In [48]:
data.rename(columns={
    '39': 'age',
    ' State-gov': 'workclass',
    ' 77516': 'fnlwgt',
    ' Bachelors': 'education',
    ' 13': 'education-num',
    ' Never-married': 'marital-status',
    ' Adm-clerical': 'occupation',
    ' Not-in-family': 'relationship',
    ' White': 'race',
    ' Male': 'sex',
    ' 2174': 'capital-gain',
    ' 0': 'capital-loss',
    ' 40': 'hours-per-week',
    ' United-States': 'native-country',
    ' <=50K': 'income'
}, inplace=True)

print(data.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [49]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
label_encoder = LabelEncoder()
data['income'] = label_encoder.fit_transform(data['income'])

In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report

# Assuming 'data' is your DataFrame

# Step 1: Strip leading/trailing spaces from column names
data.columns = data.columns.str.strip()

# Step 2: Encode target variable 'income' (<=50K, >50K)
label_encoder = LabelEncoder()
data['income'] = label_encoder.fit_transform(data['income'])

# Step 3: Encode categorical features using one-hot encoding
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 
                       'relationship', 'race', 'sex', 'native-country']
data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)

# Step 4: Features and target variable
X = data.drop('income', axis=1)  # Feature columns
y = data['income']  # Target variable

# Step 5: Scale numerical features (important for KNN)
scaler = StandardScaler()
X[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']] = scaler.fit_transform(
    X[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']]
)

# Step 6: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 7: Create and train KNN model
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, y_train)

# Step 8: Make predictions and evaluate the model
y_pred = knn_model.predict(X_test)

# Step 9: Calculate accuracy and classification report
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.8312